@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body *{
  font-family: "Lato",-apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
  "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
  "Helvetica Neue", sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

label {
    font-weight: bolder;
    font-size: larger !important;
}

#contact-form-submit-message-container {
    position: relative;
}

#contact-form-submit-message-container .ant-row:last-child {
    position: absolute !important;
    top: 88% !important;
    left: auto;
    right: 0;
}

.ant-input {
    border: black solid 0.3em !important;
}

button[type="submit"] {
    background-color: black;
    border: black;
    font-weight: bold;
    font-size: 1em;
}

button[type="submit"]:hover {
    background-color: rgb(29, 27, 27);
}
